* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
@font-face {
  font-family: "poppins";
  src: url(fonts/Poppins-Bold.ttf);
}
.gBgColor {
  background-color: #20c997;
}
.gFontColor {
  color: #20c997;
}
.one {
  color: #20c997;
  background-color: aquamarine;
}
